{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
{% set listMode = app.user.config.listMode %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% if currentRoute == 'homepage' %}
    {% set currentRoute = 'presentations' %}
{% elseif currentRoute == 'search' %}
    {% set currentRoute = app.request.query.get('currentRoute') %}
{% endif %}
<div class="container ombre">
    <a href="{{ path('switch_view_mode') }}" data-step="6" data-intro="{{ 'introjs.step6' | trans }}"><i class="material-icons">{% if listMode == 0 %}view_list{% else %}view_module{% endif %}</i></a>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" {% if currentRoute == 'presentations' or currentRoute == 'homepage' %}class="active"{% endif %}><a href="{{ path('presentations') }}">{{ 'menu.mypresentations' | trans }}</a></li>
        <li role="presentation" {% if currentRoute == 'templates' or currentRoute == 'templates-published' or currentRoute == 'templates-public' %}class="active"{% endif %}><a href="{{ path('templates') }}">{{ 'templates.all' | trans }}</a></li>
        {% if app.user.groups | length > 0 %}
        <li role="presentation" {% if currentRoute == 'group-presentations-list' %}class="active"{% endif %}><a href="{{ path('group-presentations-list') }}">{{ 'group.presentations' | trans }}</a></li>
        {% endif %}
    </ul>
    {% if currentRoute == 'templates' or currentRoute == 'templates-published' or currentRoute == 'templates-public' %}
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% if currentRoute == 'templates' %}
                    {{ 'templates.mine' | trans }}
                {% elseif currentRoute == 'templates-published' %}
                    {{ 'templates.published' | trans }}
                {% elseif currentRoute == 'templates-public' %}
                    {{ 'templates.public' | trans }}
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ path('templates') }}">{{ 'templates.mine' | trans }}</a></li>
                <li><a href="{{ path('templates-published') }}">{{ 'templates.published' | trans }}</a></li>
                <li><a href="{{ path('templates-public') }}">{{ 'templates.public' | trans }}</a></li>
            </ul>
        </div>
    {% endif %}
    <div class="{% if listMode == 0 %}
    container-grid-3"
    {% else %}
    "row"
    {% endif %}>
        {% if listMode == 0 %}
            {% for presentation in presentations %}
                <div class="element">
                    <div class="card thumbnail presentation" data-presentation="{{ presentation.id }}" data-presentation-title="{{ presentation.title }}" data-template="{{ presentation.isTemplate ? '1' : '0' }}" data-public="{{ presentation.isPublic ? '1' : '0' }}">
                        <div class="card-block">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title media-heading">{{ presentation.title }}</h4>
                                    <p><a href="{{ path('versions', {'presentation': presentation.id }) }}"><span class="label label-default versions pointer">{{ 'presentations.nbVersions.label' | transchoice(presentation.versions | length) }}</span></a> {% if presentation.isTemplate %}<span class="label label-primary">{{ 'presentations.isTemplate' | trans }}</span>{% endif %} {% if presentation.isPublic %}<span class="label label-success">{{ 'presentations.isPublic' | trans }}</span>{% endif %}
                                        {% if presentation.groupShares | length > 0 %}
                                            {% for group in presentation.groupShares %}
                                                 {% if app.user.inGroup(group) %}
                                                    <a href="{{ path('group-presentations', { 'group' : group.id }) }}"><span class="label label-primary"><i class="material-icons font-size-inherit vertical-align-middle">group</i> {{ group.name }}</span></a>
                                                 {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                </div>
                                {% if firstPicture.getFirstPicture(presentation) %}
                                    <div class="media-right">
                                        <img width="60px" class="img-thumbnail media-object" src="{{ firstPicture.getFirstPicture(presentation) }}" />
                                    </div>
                                {% endif %}
                                <div class="infoBlock">
                                    <div class="infos">
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.createdAt' | trans }}"><i class="material-icons md-18 vertical-align-middle">access_time</i> {{ presentation.createdAt | date("d/m/Y") }}</small><br>
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.updatedAt' | trans }}"><i class="material-icons md-18 vertical-align-middle">update</i> {{ presentation.getLastVersionDate | time_diff }}</small>
                                    </div>
                                    <div class="infos pull-right">
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.nbSlides.desc' | trans }}"><span class="glyphicon glyphicon-th-large"></span> {{ 'presentations.nbSlides.label' | transchoice(presentation.getNbSlides) }}</small><br>
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.nbPictures.desc' | trans }}"><span class="glyphicon glyphicon-picture"></span> {{ 'presentations.nbPictures.label' | transchoice(presentation.pictures | length) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-footer">
                        <a href="{{ path('app', {'_fragment': presentation.id }) }}" class="edit" data-presentation="{{ presentation.title }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.edit.desc' | trans }}">edit</i></a>
                        {% if presentation.userCanManage(app.user) %}
                            <a href="{{ path('template', {'presentation': presentation.id }) }}" class="publish" data-presentation="{{ presentation.id }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.bookmark.desc' | trans }}">settings</i></a>
                        {% endif %}
                        <a class="fork" href="{{ path('create-from-template', {'template': presentation.id}) }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'templates.fork.newpresentation.desc' | trans }}">content_copy</i></a>
                        <a class="share" href="{{ path('share', {'presentation': presentation.id }) }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.share.title' | trans }}">share</i></a>
                        <a class="play right" href="{{ path('slide-preview', {'presentation': presentation.id }) }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.preview.desc' | trans }}">slideshow</i></a>
                        {% if presentation.userCanManage(app.user) %}
                            <a href="{{ path('delete-presentation-id', { 'presentation': presentation.id }) }}" class="delete pull-right" data-presentation="{{ presentation.title }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.delete.desc' | trans }}">delete</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% if presentations | length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Création</th>
                                <th>Mise à jour</th>
                                <th>Versions</th>
                                <th>Groupes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for presentation in presentations %}
                                <tr data-presentation="{{ presentation.id }}" data-presentation-title="{{ presentation.title }}" class="presentation">
                                    <td>
                                        <a href="{{ path('app', {'_fragment': presentation.id }) }}" class="edit" data-presentation="{{ presentation.title }}"><i class="material-icons vertical-align-middle" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.edit.desc' | trans }}">edit</i></a>
                                        <a class="play right" href="{{ path('slide-preview', {'presentation': presentation.id }) }}" target="_blank"><i class="material-icons vertical-align-middle" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.preview.desc' | trans }}">slideshow</i></a>
                                        {{ presentation.title }}</td>
                                    <td>{{ presentation.createdAt | date("d/m/Y") }}</td>
                                    <td>{{ presentation.getLastVersionDate | time_diff }}</td>
                                    <td><a href="{{ path('versions', {'presentation': presentation.id }) }}">{{ 'presentations.nbVersions.label' | transchoice(presentation.versions | length) }}</a></td>
                                    <td>{% if presentation.groupShares | length > 0 %}
                                        {% for group in presentation.groupShares %}
                                            {% if app.user.inGroup(group) %}
                                                <a href="{{ path('group-presentations', { 'group' : group.id }) }}">{{ group.name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                        {% else %}
                                            Présentation non partagée
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if presentation.userCanManage(app.user) %}
                                            <a href="{{ path('template', {'presentation': presentation.id }) }}" class="publish" data-presentation="{{ presentation.id }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.bookmark.desc' | trans }}">settings</i></a>
                                            <a href="{{ path('delete-presentation-id', { 'presentation': presentation.id }) }}" class="delete pull-right" data-presentation="{{ presentation.title }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.delete.desc' | trans }}">delete</i></a>
                                        {% endif %}
                                        <a class="fork" href="{{ path('create-from-template', {'template': presentation.id}) }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'templates.fork.newpresentation.desc' | trans }}">content_copy</i></a>
                                            <a class="share" href="{{ path('share', {'presentation': presentation.id }) }}"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.share.title' | trans }}">share</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Titre</th>
                                <th>Création</th>
                                <th>Mise à jour</th>
                                <th>Versions</th>
                                <th>Groupes</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if presentations | length > 0 %}
    <a class="btn btn-primary" href="{{ path('app') }}">
        {{ 'presentations.create' | trans }}
    </a>
    {% endif %}
    <div class="pull-right">
        {% if presentations.getNbPages > 1 %}
            {{ pagerfanta(presentations, 'twitter_bootstrap3_translated', {'proximity': 1}) }}
        {% endif %}
    </div>
    <div class="jumbotron" style="{{ presentations | length > 0 ? 'display: none;' : '' }}" data-step="1" data-intro="{{ 'introjs.step1' | trans }}">
        <p>
            {% if app.request.attributes.get('_route') == 'search' %}
                {{ 'search.empty' | trans({'%term%': app.request.query.get('search_entry')['term'] }) }}
            {% else %}
                {% if currentRoute == 'presentations' %}
                    {{ 'presentations.empty' | trans }}
                {% elseif currentRoute == 'templates-public' %}
                    {{ 'templates.publicempty' | trans }}
                {% elseif currentRoute == 'templates' %}
                    {{ 'templates.empty' | trans }}
                {% elseif currentRoute == 'templates-published' %}
                    {{ 'templates.published.empty' | trans }}
                {% endif %}
            {% endif %}
        </p>
        <p>
            <a class="btn btn-primary" href="{{ path('app') }}" data-step="2" data-intro="{{ 'introjs.step2' | trans }}">{{ 'presentations.create' | trans }}</a>
            {% if currentRoute != 'templates-public' %}<a class="btn btn-default" href="{{ path('templates-public') }}" data-step="4" data-intro="{{ 'introjs.step4' | trans }}">{{ 'presentations.explore' | trans }}</a>{% endif %}
        </p>
    </div>
</div>
{% include 'default/modals/share.html.twig' %}
{% include 'default/modals/preview.html.twig' %}
{% include 'default/modals/delete.html.twig' %}
{% endblock content %}

{% block endscript %}
    {{ parent() }}
    <script>
        {% if app.user and app.user.config.firsttime and  presentations | length == 0 %}
        window.callFirstTime(['{{ 'introjs.nextLabel' | trans }}', '{{ 'introjs.prevLabel' | trans | raw }}', '{{ 'introjs.skipLabel' | trans }}', '{{ 'introjs.doneLabel' | trans }}']);
        {% else %}
        window.firsttime = false;
        {% endif %}
    </script>
{% endblock endscript %}